@{
    ViewBag.Title = "Broker Profile";
}
<h1> WelcomeBroker</h1>
<center>
    <br />
    <br />
    <br />
    <a href="http://localhost:50831/admin/Register">Broker Registeration </a>
    <br />
    <br />
    <br /><br />
    <a href="http://localhost:57783/Broker/ViewProgress">View Progress</a>
</center>


