
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UET, Lahore<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SoulMatch@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">soulmatch@yahoo.com</a>
</address>