@model SoulMatch.Models.UserDb

@{
    ViewBag.Title = "UserProfile";
}

@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/UserDbs/Login");
    }
}
<center>
    <h2>User Profile</h2>
</center>
<br />
<br />

<a href="https://localhost/UserDbs/Searchuser">Search Users</a>
